@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --main-background-color: #c5cba6;
    --main-font-color: #136066;  
        
}

body{
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

h1{
    text-align: center;
    font-size: 3.5em;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 2.8em;
    font-style: italic;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.navibar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0px auto;
    padding: 5px;
}

.navibar ul {
    display: flex;
    align-items: left;
    justify-content: left;
    list-style: none;
    margin: 0px auto;
    padding: 16px;
}

.navibar li {
    margin-right: 56px;
}

.navibar a {
    text-decoration: none;
    color: var(--main-font-color);
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-size: 2em;
    font-style: italic;
}

.navibar img{
    margin-left: auto;
    max-width: 100px;
}

.header-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
}

a{
    color: #219ba3;
}

.footer-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
}

.footer-links img {
    display: block;
    max-width: 80px;
    height: auto; 
    justify-content: space-between;
    padding: 52px;
}

footer{
    text-align: center;
    padding: 16px;
    margin-top: 32px;
}